Repository davigator-LenD/crawler: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier:fix, pnpm lint:fix, prettier --write

.lintstagedrc:

{
    "**/*.ts": ["pnpm prettier:fix", "pnpm lint:fix"],
    "**/*.{md,json}": ["prettier --write"]
}

chore: export generator modules
  packages/generator/src/generator/index.ts
  packages/generator/src/index.ts
  packages/generator/src/parser/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

test: add test suite function for generator testing
  packages/generator/src/__tests__/generator_test_suite.ts
Due: pnpm prettier:fix, pnpm lint:fix

remove: test snapshots for github storage limitation and update test
  .gitignore
  packages/generator/src/__tests__/generator.test.ts
  packages/generator/src/__tests__/parser.test.ts
  packages/generator/src/__tests__/tokenizer.test.ts
  packages/generator/src/parser/__tests__/parser.test.ts
Due: pnpm prettier:fix, pnpm lint:fix

fix: url attribute parsing logic
  packages/generator/src/parser/tokenizer.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add url validation logic at generator
  packages/generator/src/generator/generator.ts
Due: pnpm prettier:fix, pnpm lint:fix

remove: parser tree test to reduce execution time
  packages/generator/src/__tests__/parser.test.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: add @lend/logger at crawler
  packages/crawler/package.json
Due: prettier --write

chore: add crawler storage root config
  .env
Due: none

remove: big-size test for stack size limit issue
  packages/generator/src/__tests__/generator.test.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add logger function at crawler
  packages/crawler/src/utils/index.ts
  packages/crawler/src/utils/log.ts
  packages/generator/src/parser/parser.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: fine-grained attribute extraction and add exception handling at tagname
  packages/generator/src/parser/tokenizer.ts
Due: pnpm prettier:fix, pnpm lint:fix

style: format generator
  packages/generator/src/generator/generator.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: add text node tag list
  packages/generator/src/generator/node/text_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

test: add test case for naver-govern-coupang
  packages/generator/src/__mocks__/edge.html
  packages/generator/src/__mocks__/네이버_뉴스_1.html
  packages/generator/src/__mocks__/네이버_뉴스_2.html
  packages/generator/src/__mocks__/네이버_뉴스_3.html
  packages/generator/src/__mocks__/네이버_뉴스_4.html
  packages/generator/src/__mocks__/정부24_1.html
  packages/generator/src/__mocks__/쿠팡_1.html
Due: none

chore: add puppeteer package
  packages/crawler/package.json
  pnpm-lock.yaml
Due: prettier --write

remove: unused crawler file
  packages/crawler/src/crawling.engine.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: DataNode abstract node class attributes
  packages/generator/src/generator/node/data_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: add text related tag list
  packages/generator/src/generator/node/text_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: action/contents node tokens
  packages/generator/src/generator/node/action_node.ts
  packages/generator/src/generator/node/contents_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: add action and token filed at link node
  packages/generator/src/generator/node/link_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add reset function at tokenizer
  packages/generator/src/parser/tokenizer.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add reset function at parser
  packages/generator/src/parser/parser.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add text preprocessor class to handle useless tokens
  packages/generator/src/generator/text_preprocessor.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: plug text preprocessor at generator and export option interface
  packages/generator/src/generator/generator.ts
Due: pnpm prettier:fix, pnpm lint:fix

test: add text preprocessor at generator_test_suite
  packages/generator/src/__tests__/generator_test_suite.ts
  packages/generator/src/generator/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add site crawler
  packages/crawler/src/create_crawler.ts
  packages/crawler/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add crawler test sets
  packages/crawler/src/crawler.ts
  packages/crawler/src/engine.ts
  packages/crawler/src/extractor.ts
  packages/crawler/src/html_crawler.ts
  packages/crawler/src/link_storage.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: add result to .gitignore
  .gitignore
Due: none

fix: add __mocks__ at .prettierignore
  .prettierignore
Due: none

test: add html test pages
  packages/generator/src/__mocks__/네이버_뉴스_랭킹.html
  packages/generator/src/__mocks__/네이버_최신_뉴스.html
  packages/generator/src/__mocks__/정부24_4.html
Due: none

fix: link node validation logic and combinations
  packages/generator/src/generator/generator.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: undefinable ast
  packages/generator/src/parser/parser.ts
Due: pnpm prettier:fix, pnpm lint:fix

refactor: update extractor spec for href and meta
  packages/crawler/src/extractor.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add government cralwer
  packages/crawler/src/default.ts
  packages/crawler/src/index.ts
  packages/crawler/src/web/gov.ts
  packages/crawler/src/web/index.ts
Due: pnpm prettier:fix, pnpm lint:fix
