Repository davigator-LenD/crawler: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier:fix, pnpm lint:fix, prettier --write

chore: setup changeset
  .changeset/README.md
  .changeset/config.json
Due: prettier --write

chore: setup tsconfig
  tsconfig.json
Due: prettier --write

chore: add .github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add .github flows
  .github/release-drafter-config.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: setup husky
  .husky/.gitignore
  .husky/pre-commit
Due: none

chore: setup monorepo debuggin vscode environment
  .vscode/launch.json
Due: prettier --write

chore: setup turbo repo config
  turbo.json
Due: prettier --write

chore: monorepo .npmrc
  .npmrc
Due: none

chore: vitest test suite config
  vitest.config.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: change lint-staged config
  .lintstagedrc
Due: none

feat: add @lendi/logger package
  packages/logger/package.json
  packages/logger/src/__tests__/index.test.ts
  packages/logger/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix, prettier --write

feat: add @lendi/generator package
  packages/generator/package.json
  packages/generator/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix, prettier --write

feat: add @lendi/crawler package
  packages/crawler/package.json
  packages/crawler/playwright.config.ts
  packages/crawler/src/crawler.ts
  packages/crawler/src/crawling.engine.ts
  packages/crawler/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix, prettier --write

feat: add @lendi/cli package
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/utils/fs.ts
Due: pnpm prettier:fix, pnpm lint:fix, prettier --write

feat: add @lendi/api package
  packages/api/package.json
  packages/api/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix, prettier --write

chore: change package name to rend
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/crawler/package.json
  packages/generator/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add main readme.md
  readme.md
Due: prettier --write

docs: update .github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: change package type to module
  packages/generator/package.json
Due: prettier --write

feat: add logger for generator
  packages/generator/src/utils/logger.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add extractTxt module
  packages/generator/src/utils/extractTxt.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add html tokenizer
  packages/generator/src/parser/tokenizer.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add `TagNode` class for parsing tree generation
  packages/generator/src/parser/tag_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add html parser
  packages/generator/src/parser/parser.ts
Due: pnpm prettier:fix, pnpm lint:fix

test: add html parsing test suite
  packages/generator/src/parser/__tests__/__snapshots__/parser.test.ts.snap
  packages/generator/src/parser/__tests__/parser.test.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: export parser module
  packages/generator/src/parser/index.ts
  packages/generator/src/utils/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add data node base class
  packages/generator/src/generator/node/data_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add text data node
  packages/generator/src/generator/node/text_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add link data node
  packages/generator/src/generator/node/link_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add contents data node
  packages/generator/src/generator/node/contents_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add action data node
  packages/generator/src/generator/node/action_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: export data node and `DataNode` type
  packages/generator/src/generator/node/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: remove useless log message at logger module
  packages/logger/src/index.ts
Due: pnpm prettier:fix, pnpm lint:fix

chore: add suites folder at .gitignore for test
  .gitignore
Due: none

refactor: change Tags data structure to Set to improve performance
  packages/generator/src/generator/node/action_node.ts
  packages/generator/src/generator/node/contents_node.ts
  packages/generator/src/generator/node/data_node.ts
  packages/generator/src/generator/node/link_node.ts
  packages/generator/src/generator/node/text_node.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add exception case for parser and update node depth management logic
  packages/generator/src/parser/parser.ts
Due: pnpm prettier:fix, pnpm lint:fix

feat: add generator module
  packages/generator/src/generator/generator.ts
Due: pnpm prettier:fix, pnpm lint:fix

Path conditions:
  pnpm prettier:fix: any of: **/*.ts
  pnpm lint:fix: any of: **/*.ts
  prettier --write: any of: **/*.{md,json}
